
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

$grey:#F6F8FA;
$border-color: rgba(189, 189, 189, 0.678);
$hover-btn:#ebebebc2;

body{
    background-color: white;
    min-height: 100vh;
    min-width: 350px;

}


